footer.footer
	.footer-link
		.container
			.row
				.col-lg-4
					h4.text-center.text-lg-left FullStack Viet Nam
					nav.f-nav
						ul.list-unstyled
							li Mobile: (+84) 969689893
							li Email: admin@fullstackvietnam.com
							li Địa chỉ: 28 đường số 2 – CITY LAND – Phường 7 – Gò Vấp – HCM
				.col-lg-4
					h4.text-center.text-lg-left Link
					nav.f-nav
						ul.list-unstyled
							li
								a(href="") Khóa học FrontEnd Master
							li
								a(href="") Khóa học FullStack Developer
							li
								a(href="") Khóa học Design chuyên nghiệp
							li
								a(href="") Lịch khai giảng
							li
								a(href="") Đăng ký Khóa học

				.col-lg-4
					nav.f-nav.special-nav
						ul.list-unstyled
							li
								a(href="") Khóa học FrontEnd Master
							li
								a(href="") Khóa học FullStack Developer
							li
								a(href="") Khóa học Design chuyên nghiệp
							li
								a(href="") Lịch khai giảng
							li
								a(href="") Đăng ký Khóa học
	.copyright
		.container
			.row
				.col-12.item
					p Copyright 2018 by FullStack Vietnam
					.social
						a.fa.fa-twitter(href="#")
						a.fa.fa-facebook(href="#")

